<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='static/styles.css'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>
<body>
  <div class=image> <img src='static/2013MusicHistory1020113-2.gif'> </div>
  <div class='intro'> WALTZ </div>
  <nav>
    <ul>
      <li> Sort by album </li>
      <li> Sort by year </li>
      <li> <a href=/artists> Sort by artist </a> </li>
    </ul>
  </nav>
  <div class=librarytitle> YOUR MUSIC LIBRARY: </div>
  <div class=albumlisting>
  <img id ='albumArt' src='' style="float:right; width:50%">
  <ul>
      {% for rank, album in song_list_sorted|sort %}
      <li class=albumname> <details onclick= "updateAlbumArt('static/Led Zeppelin - BBC Sessions.jpg')"> <summary> {{library_dict[album].albumTitle}} </summary>
        <p class=albummetadata> {{library_dict[album].albumArtist}} | {{library_dict[album].albumYear}} | {{library_dict[album].albumGenre}} </p>
        <ol>
        {% for song in library_dict[album].songList %}
        <li class=trackname id = "{{song[1]}}" data-value="/media/{{k}}/{{song[1]}}">
          <button onclick = "updateSource('{{song[1]}}')"> {{song[1]}} </li>
        {% endfor %} </ol>
        </details> </li>
      {% endfor %}
  </ol>
<p>  <a href='/' class=button> Previous </a> <a href='/more' class=button> More </a> </p>

</div>
  <div>
    <p> </p>
    #music player
    <audio id='player' controls="controls">
    <source id ='file' src=""> </source>
  </audio> </div>


  <script type="text/javascript">

function updateSource(songt){
  var audio = document.getElementById('player');
  var source = document.getElementById('file');
  source.src = document.getElementById(songt).getAttribute('data-value');
  audio.pause();
  audio.load();
  audio.play();
}

function updateAlbumArt(imageName){
  var source = document.getElementById('albumArt')
  source.src = imageName;
}
</script>
</body>
</html>
